$body-bg: #f7f7f7;

@import 'bootstrap/scss/bootstrap.scss';

.c-pointer {
    cursor: pointer;
}

.link-unstyled {
    &,
    &:visited,
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
      font-style: inherit;
      color: inherit;
      background-color: transparent;
      font-size: inherit;
      text-decoration: none;
      font-variant: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: inherit;
      border-radius: inherit;
      outline: inherit;
      box-shadow: inherit;
      vertical-align: inherit;
    }
}

.error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}