@import '../../../assets/scss/styles.scss';

.back__button {
    .back__button--icon {
        transition: all 500ms;
    }
    &:hover {
        .back__button--icon {
            transform: scale(1.2);
            color: $danger;
        }
    }
}

.left__column {
    flex: 0.25;
}

.center__column {
    flex: 0.5;
    text-align: center;
}
.right__column {
    flex: 0.25;
}