@import '../../assets/scss/styles.scss';

.post__title {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.trash__icon {
    transition: all 500ms;
    &:hover {
        transform: scale(1.2);
        color: $danger;
    }
}